<div layout-gt-md="row">
  <panel-widget flex title="Total Fundraising (past week, month, year)" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Running Totals (weeks, months, years)" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Running and Fundraising Streak" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Sponsors (shows number of sponsor and lists the 'top')" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Your charities (number of runs, total amount raised)" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Top nearby charities (number of runs, total amount raised)" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Run Distances (by day and week)" template="app/views/partials/performance.html" options="true"></panel-widget>
  <!-- <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget> -->
</div>
